.img-cart{
    height: 40px;
    width: 40px;
    
}
.cart-btn{
    height: 40px;
    width: 50px;
    border: none;
    margin-left: 900px;
    margin-top: -80px;
    
}

.btn-cart{
  color: white;
  background-color: yellowgreen;
  border-radius: 5px;
  margin: 1px;
}
.price{
  margin-left: 75px;
}
.btn-add{
  margin-left: 75px;
}

.home-btn{
  float: left;
  color: green;
  border: none;
  border-radius: 5px;
  text-shadow: none;
}